# dependencies
/node_modules
/.pnp
.pnp.js

# next
/.next/
/out/
next-env.d.ts

# production
/build

# misc
.DS_Store
*.pem
*.log
npm-debug.log*

# local env
.env
.env*.local

# testing
/coverage

# vercel / turbo
.vercel
.turbo

# editor
.idea
.vscode/*
!.vscode/extensions.json

# typescript incremental build info
*.tsbuildinfo
